# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2025 The Linux Foundation


# Code quality
pre-commit>=3.5.0
# Development dependencies for openstack-bastion-action

# Testing
pytest>=7.4.0
pytest-cov>=4.1.0
pytest-mock>=3.11.1
PyYAML>=6.0
reuse>=3.0.0
shellcheck-py>=0.10.0

# Linting
yamllint>=1.33.0
